@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Roboto&display=swap');

hr{
  width: 100%;
  background-color: #c9c9c9;
  height: 1px; 
  border: 0;
}

.product-title{
  width: 70%;
  margin: auto;

  text-align: center;
  text-transform: uppercase;
  letter-spacing: 15px;
  font-weight: 300;
  font-size: 30px;
}

.top-box{
  height: 600px;
  margin-top: 25px;
}

.left-box{
  height: 100%;
  width: 49%;
  float: left;
}

.left-box-top{
  background-image: url(https://cdn.glitch.com/bd2e3872-f26e-49b7-a7b1-fb79078a9b73%2Ffoto_ring_5.jpg?v=1585992778230);
  background-size: cover;
  background-position: 0 -30px;
  
  height: 75%;
  margin: 2%;
}
          
.left-box-bottom{
  height: 20%;
  width: 70%;
  margin: auto; 
}

.left-box-bottom-image{
  height: 95%;
  width: 31%;
  margin: 1%;
  border-radius: 1px;
  overflow: hidden;
  float: left;
}

.left-box-bottom-image img{
  height: inherit;
}
          
.right-box{
  height: 100%;
  width: 49%;
  float: right;
}

.right-box-price{
  height: 10%;
  margin: 2%;
  margin-bottom: 20px;
}

.right-box-price h2{
  color: #bf5c53;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 7px;
}

.right-box-price h3{
  font-size: 13px;
  font-weight: 500;
}
          
.right-box-button{
  height: 10%;
  margin: 2%;
}

.right-box-button button{
  background-color: #e67481;
  height: 70%;
  width: 100%;
  margin-top: 5px;
  
  box-shadow: 0px 4px 7px 0px #a8a8a8;
  border: none;
  border-radius: 50px;
  
  font-family: 'Roboto';
  color: white;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.right-box-button button:hover{
  cursor: pointer;
  background-image: linear-gradient(#e67481, #ff7481, #e67481)
}
          
.right-box-disclaimer{
  background-color: #f15372;
  height: 15%;
  margin: 2%; 
}
          
.right-box-extra{
  background-color: #f15372;
  height: 20%;
  margin: 2%; 
}
          
.right-box-details{
  height: 20%;
  margin: 2%;
}
          
.right-box-description{
  height: 15%;
  margin: 2%;
}
          
.bottom-box{
  background-color: #c9d653;
  height: 220px;
  margin-top: 20px;
}

.bottom-box-images{
  background-color: #c9d67f;
  height: 75%;
  margin: 2%;
}

.box-light-title{
  margin-bottom: 10px;
  
  font-weight: 300;
  text-transform: uppercase;
}

.box-details-text{
  margin-left: 15px;
  
  list-style: disc;
  font-size: 14px; 
}