/* CSS files add styling rules to your content */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap");

html {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Playfair Display", serif;
}

header {
  margin-bottom: 10px;
}

a{
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #77277a;
}
.table {
  width: 100%;
  margin: auto;
}

.first-row {
  background: url(
      https://cdn.glitch.com/29a042d3-5bf1-43ff-b445-8359d59dad37%2FHeaderBien.jpeg?v=1585841977461
    )no-repeat;
  background-position: 0px -20vw;
  background-size: cover;
  height: 350px;
  width: 100%;
  margin-bottom: 12px;
}

.first-row:hover {
  cursor: pointer;
}

.second-row {
  background-color: #ffcccc;
  height: 100px;
  width: 100%;
  text-align: center;
  line-height: 100px;
  font-size: 24px;
  color: white;
  font-family: "Merriweather Sans", sans-serif;
}

.table-image-left,
.table-image-right {
  height: 270px;
  width: 477px;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 26px;
  letter-spacing: 1px;
  text-align: center;
  line-height: 400px;
  margin-top: 5px;
  color: #fff;
  transition: all 0.5s;
}

.table-image-left:hover,
.table-image-right:hover {
  cursor: pointer;
  filter: contrast(70%);
  font-size: 32px;
}

.table-image-left {
  float: left;
}

.table-image-right {
  float: right;
}

.list-horizontal {
  display: inline;
  margin: 0 10px;
}


.list {
  color: black;
  font-size: 15px;
  text-decoration: none;
}

.list:hover {
  cursor: pointer;
  color: #77277a;
}

ul{
  list-style:none;
}

.icon {
  float: left;
  height: 40px;
  color: transparent;
  overflow: hidden;
  margin: 0 90px 0 10px;
  filter: grayscale(100%) contrast(120%);
  transition: all 0.5s;
}

.icon:hover {
  filter: grayscale(100%) contrast(90%);
}

.icons{
  font-size:150%;
  margin:1%;
}
.icons-colored{
  filter:grayscale(100%);
}

.footer-left{
    float:left;
    margin-left:10px;
  }
.footer-right{
  float:right;
  margin-right:20px;
}
.footer-left-inside{
  float:left;
}
.footer-right-inside{
  float:right;
}
.footer-column {
  width: 220px;
}

@media screen and (max-width:1200px){
  
  .footer-left{
    float:left;
    margin-left:10px;
  }
  .footer-right{
    float:right;
    margin-right:10px;
  }
  .footer-left-inside{
    float:left;
  }
  .footer-right-inside{
    float:right;
  }
  .footer-column {
    width: 220px;
  }

  .list{
    display: inline;
  }
  
}
